body {
    height: 1000px;
    width: 1000px;
    background: linear-gradient(rgb(41, 187, 255), rgb(253, 253, 253));
}

h1 {
  margin-left: 400px;

}

    h2, li, a, p, {
    font-family: helvetica, arial;

}
img {
    height: 200px;
}

#declinetable {
  margin-left: 50px;
  height: 300px;
  

}

#ok{
    display:inline;
}

#box2 {
    width: 40%;
    display: inline-block;

}

#box3 {
    width: 40%;
    display: inline-block;
}
main img {
    height: 200px;
    Width: 200px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    margin: 2px
}

main figure {
    /* width: 200px; */
    text-align: center;
    float: right;
    width: 16%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin: 1px;
    padding: 1px;
}

main figcaption {
    margin: 0px auto;
    text-align: center;
}

#bottombee {
    
        height: 150px;
        width: 150px;
        margin-bottom: 0px;
        margin-left: 0px;
       
        }


#topbee {
    
        height: 150px;
        width: 150px;
        top: 0;
       right: 0;
        position: absolute;
    
}
